<div class="row">
  <table datatable style="width: 100%">
    <thead>
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 30%">Name</th>
        <th style="width: 40%">Content</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let emailTemplate of emailTemplates">
          <td>{{emailTemplate.id}}</td>
          <td>{{emailTemplate.name}}</td>
          <td>{{emailTemplate.content}}</td>
          <td><button class="btn btn-info" (click)= "editEmailTemplate(emailTemplate)">Edit</button></td>

      </tr>
    </tbody>
  </table>
</div>
